.wrap {
  width: 85px;
  height: 25px;
  position: absolute;
  top: 40px;
  right: 5px;
  padding: 3px 10px;
  background-color: #c1c1c18e;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}
