.box {
  width: 100%;
  min-height: 100vh;
  padding-top: 5px;
  background-image: url(../assets//images//3bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.trainWrap {
  position: relative;
  max-width: 1210px;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 0 5px;
}
.numberOfQuestion {
  width: 60px;
  padding: 3px 10px;
  text-align: center;
  background-color: #c1c1c18e;
  border-radius: 3px;
  color: #fff;
}
.nameOfProg {
  position: absolute;
  top: 0;
  right: 5px;
  margin-top: 5px;
  display: inline-block;
  padding: 3px 10px;
  background-color: #c1c1c18e;
  border-radius: 3px;
  color: #fff;
}
.Quest {
  font-weight: 600;
  margin: 10px 0;
  margin-top: 30px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
  animation: showEffect;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes showEffect {
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
  }
}
.itemActive {
  cursor: pointer;
  padding: 5px;
  background-color: #7f70d8;
  border-radius: 7px;
}
.item {
  cursor: pointer;
  padding: 5px;
  border-radius: 7px;
}
.btnWrap {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
