.inner {
  width: 100%;
  height: 100dvh;
  background-image: url(../../../assets/images/4bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.errorHide {
  display: none;
}
.errorShow {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
.errorDevTitle {
  margin-top: 40px;
  text-align: center;
}
.errorDevText {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.myLink {
  border-bottom: 1px solid rgb(52, 52, 218);
}
.InnerLoaderHide {
  display: none;
}
.InnerLoader {
  width: 100%;
  height: 100dvh;

  position: relative;
}
.loader {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #0909bf;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
