.backbtn {
  cursor: pointer;
  position: absolute;
  width: 67px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 5px;
  background-color: #c1c1c18e;
  border-radius: 3px;
  color: #fff;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .backbtn:hover {
    background-color: var(--mainColor);
  }
}
